* {
    background-color: #0C090A;
}

h1 {
    text-align: center;
    color: #E5E4E2;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E4E2;
}

select {
    color: #E5E4E2;
    cursor: pointer;
}

table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    color: #E5E4E2;
    font-size: 20px;
}
  
td, th {
    border: 1px solid silver;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #0057B8;
    color: white;
}

